<div>

<table matSort (matSortChange)="sortData($event)" class="table">
    <thead>
      <tr>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="price">Price</th>
        <th mat-sort-header="reservationStartDateAndTime">Reservation date</th>
        <th mat-sort-header="durationInDays">Number of days</th>
        <th mat-sort-header="client">Client</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of sortedData">
        <td>{{reservation.service.name}}</td>
        <td>{{reservation.price}}</td>
        <td>{{reservation.reservationStartDateAndTime | date:'longDate'}}</td>
        <td>{{reservation.durationInDays}}</td>
        <td><a [routerLink]="['/reservation-client', reservation.client.id]"> {{reservation.client.name}} {{reservation.client.surname}}</a></td>
        <td> <a *ngIf="reservation.reported==false" [routerLink]="['/report', reservation.id]">Write report</a>  </td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 50px;">
    <app-calendar class="bg-light"></app-calendar>
  </div>
</div>