<table matSort (matSortChange)="sortData($event)" class="table table-hover">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="address">Address</th>
      <th mat-sort-header="maxPeople">Max people</th>
      <th mat-sort-header="instructor">instructor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adventure of sortedData" [routerLink]="['/adventure', adventure.id]">
      <td>{{adventure.name}}</td>
      <td>{{adventure.address}}</td>
      <td>{{adventure.maxPeople}}</td>
      <td>{{adventure.instructor.email}}</td>
    </tr>
  </tbody>
</table>