<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="!loginService.isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li *ngIf="!loginService.isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li *ngIf="!loginService.isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="special-register">Register as owner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="adventures">Adventures</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'" class="nav-item">
            <a class="nav-link" routerLink="instructors">Instructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cottages">Cottages</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'" class="nav-item">
            <a class="nav-link" routerLink="cottage-owners">Cottage owners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="boats">Boats</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'" class="nav-item">
            <a class="nav-link" routerLink="boat-owners">Boat owners</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'" class="nav-item">
            <a class="nav-link" routerLink="clients">Clients</a>
          </li>
          <li *ngIf="loginService.isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="profile">Profile</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'COTTAGE_OWNER'" class="nav-item">
            <a class="nav-link" routerLink="owned-cottages">My cottages</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-cottage-reservations">Cottage reservations</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-boat-reservations">Boat reservations</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-adventure-reservations">Adventure reservations</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-upcoming-reservations">Upcoming reservations</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-ordinary-reservation">Make a reservation</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-subscriptions">Subscriptions</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-complaint">Write a complaint</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT'" class="nav-item">
            <a class="nav-link" routerLink="client-review">Write a review</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'BOAT_OWNER'" class="nav-item">
            <a class="nav-link" routerLink="owned-boats">My boats</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'" class="nav-item">
            <a class="nav-link" routerLink="register-admin">Register admin</a>
          </li>
          <li *ngIf="loginService.isLoggedIn && (loginService.userType == 'COTTAGE_OWNER' || loginService.userType == 'BOAT_OWNER')" class="nav-item">
            <a class="nav-link" routerLink="reservation-history">Reservation history</a>
          </li>
          <li *ngIf="loginService.isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
