<div class='card'>
    <div class='card-header d-flex justify-content-between'>
        <h3 style=" margin-left: 50px;">{{cottage.name}}</h3>
        <button *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT' && !isSubscribed()" class="btn btn-primary" (click)="subscribe()">Subscribe</button>
        <button *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT' && isSubscribed()" class="btn btn-secondary" (click)="unsubscribe()">Unsubscribe</button>
      </div>
    <div class="card-body" style=" margin-left: 50px;">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Adress:</div>
                    <div class="col-md-10">{{cottage.address}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Description:</div>
                    <div class="col-md-10">{{cottage.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Number of rooms:</div>
                    <div class="col-md-10">{{cottage.roomsTotalNumber}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Behavior rules:</div>
                    <div class="col-md-10">{{cottage.behaviorRules}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Price per day:</div>
                    <div class="col-md-10">{{cottage.pricePerDay}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Max people:</div>
                    <div class="col-md-10">{{cottage.maxNumberOfPeople}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Average grade:</div>
                    <div class="col-md-10">{{cottage.averageGrade}}</div>
                </div>
                <div *ngIf="cottage.additionalServices.length != 0" class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Additional service</td>
                                <td>Price per day</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let additionalService of cottage.additionalServices">
                                <td>{{additionalService.name}}</td>
                                <td>{{additionalService.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a [routerLink]="['/actions', id]">View actions</a>
                </div>
            </div>
        </div>
    </div>
</div>