
  <div class="list-group">
    <a *ngFor = "let cottage of cottages" [routerLink]="['/cottage', cottage.id]" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{cottage.name}}</h5>
        <small class="text-muted">{{cottage.address}}</small>
      </div>
      <p class="mb-1">{{cottage.description}}</p>
      <small class="text-muted">Number of rooms: {{cottage.roomsTotalNumber}}</small>
    </a>
  </div>