<table matSort (matSortChange)="sortData($event)" class="table table-hover">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="address">Address</th>
      <th mat-sort-header="description">Description</th>
      <th mat-sort-header="averageGrade">Average grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cottage of sortedData" [routerLink]="['/cottage', cottage.id]">
      <td class="col-3">{{cottage.name}}</td>
      <td class="col-3">{{cottage.city}}, {{cottage.street}} {{cottage.number}}</td>
      <td class="col-5">{{cottage.description}}</td>
      <td class="col-1">{{cottage.averageGrade}}</td>
    </tr>
  </tbody>
</table>
