<div class="container-fluid">
    <div class="row justify-content-center">

        <h3 class="h3">Update your profile</h3>

        <div class="col-md-4">
            <ng-container [formGroup]="this.myFormGroup">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address:</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" readonly>
                </div>
                <!-- div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password">
                </div -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Surname:</label>
                    <input type="text" class="form-control" id="surname" placeholder="Surname" formControlName="surname">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
                </div>
                <div class="mb-3">
                    <label for="telephone" class="form-label">Telephone:</label>
                    <input type="text" class="form-control" id="telephone" placeholder="Telephone" formControlName="telephone">
                </div>
                <div class="d-grid col-6 mx-auto">
                    <button class="btn btn-primary" (click)="onClickSubmit()">Update</button>
                </div>
            </ng-container>
        </div>

        <div name="administratorProfile" *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'">
            <h3 class="h3">Zahtevi za registraciju</h3>
            <div>                
                <br>
                <table *ngIf='requests && requests.length' class="table">
                    <thead>
                        <tr>
                            <th class="col">Username</th>
                            <th class="col">User type</th>
                            <th class="col">Name</th>
                            <th class="col">Registration explanation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let request of requests'>
                            <td>{{request.user.email}}</td>
                            <td>{{request.user.appUserType}}</td>
                            <td>{{request.user.name}} {{request.user.surname}}</td>
                            <td>{{request.explanation}}</td>
                            <td><button name="approveRegistrationRequest" class="btn btn-secondary" (click)="onApprove(request.id);">Approve</button></td>
                            <td><button name="declineRegistrationRequest" class="btn btn-secondary" (click)="onDecline(request.id);">Decline</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>