<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 style="text-align: center;">Update your profile</h1>
            <ng-container [formGroup]="this.myFormGroup">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address:</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" readonly>
                </div>
                <!-- div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password">
                </div -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Surname:</label>
                    <input type="text" class="form-control" id="surname" placeholder="Surname" formControlName="surname">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
                </div>
                <div class="mb-3">
                    <label for="telephone" class="form-label">Telephone:</label>
                    <input type="text" class="form-control" id="telephone" placeholder="Telephone" formControlName="telephone">
                </div>
                <div class="d-grid col-6 mx-auto mb-3">
                    <button class="btn btn-primary" (click)="onClickSubmit()">Update</button>
                </div>
                <div class="d-grid col-6 mx-auto justify-content-center">
                    <a [routerLink]="[]" data-bs-toggle="modal" data-bs-target="#exampleModal">Request profile deletion</a>
                </div>
                <div class="d-grid col-6 mx-auto justify-content-center">
                    <a [routerLink]="[]" data-bs-toggle="modal" data-bs-target="#passwordModal">Change password</a>
                </div>
            </ng-container>
        </div>

        <div name="administratorProfile" *ngIf="loginService.isLoggedIn && loginService.userType == 'ADMIN'">
            <div>                
                <br>
                <table *ngIf='requests && requests.length' class="table">
                    <h3 class="h3">Zahtevi za registraciju</h3>
                    <thead>
                        <tr>
                            <th class="col">Username</th>
                            <th class="col">User type</th>
                            <th class="col">Name</th>
                            <th class="col">Registration explanation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let request of requests'>
                            <td>{{request.user.email}}</td>
                            <td>{{request.user.appUserType}}</td>
                            <td>{{request.user.name}} {{request.user.surname}}</td>
                            <td>{{request.explanation}}</td>
                            <td><button name="approveRegistrationRequest" class="btn btn-secondary" (click)="onApprove(request.id);">Approve</button></td>
                            <td><button name="declineRegistrationRequest" class="btn btn-secondary" (click)="onDecline(request.id);">Decline</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deletion request</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ng-container [formGroup]="this.deletionRequestFormGroup">
                        <div class="mb-3">
                            <label for="explanation" class="form-label">Explanation:</label>
                            <textarea rows="10" id="explanation" type="text" class="form-control" formControlName="explanation"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button id="closeButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="submitDeletionRequest()">Submit</button>
                        </div>
                    </ng-container>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">Change password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ng-container [formGroup]="this.changePasswordFormGroup">
                        <!-- <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current password:</label>
                            <input rows="10" id="currentPassword" type="password" class="form-control" formControlName="currentPassword">
                        </div> -->
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New password:</label>
                            <input rows="10" id="newPassword" type="password" class="form-control" formControlName="newPassword">
                        </div>
                        <div class="mb-3">
                            <label for="newRePassword" class="form-label">Repeat new password:</label>
                            <input rows="10" id="newRePassword" type="password" class="form-control" formControlName="newRePassword">
                        </div>
                        <div class="modal-footer">
                            <button id="closeButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitChangePassword()">Submit</button>
                        </div>
                    </ng-container>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>