<div class='card'>
    <div class='card-header d-flex justify-content-between'>
        <h3 style=" margin-left: 50px;">{{boat.name}}</h3>
        <button *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT' && !isSubscribed()" class="btn btn-primary" (click)="subscribe()">Subscribe</button>
        <button *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT' && isSubscribed()" class="btn btn-secondary" (click)="unsubscribe()">Unsubscribe</button>
    </div>
    <div class="card-body" style=" margin-left: 50px;">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Type:</div>
                    <div class="col-md-10">{{boat.type}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Length:</div>
                    <div class="col-md-10">{{boat.length}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Number of engines:</div>
                    <div class="col-md-10">{{boat.numberOfEngines}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Engine power:</div>
                    <div class="col-md-10">{{boat.enginePower}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Maximum velocity:</div>
                    <div class="col-md-10">{{boat.maximumVelocity}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Navigation equipment:</div>
                    <div class="col-md-10">{{boat.navigationEquipment}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Adress:</div>
                    <div class="col-md-10">{{boat.address}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Description:</div>
                    <div class="col-md-10">{{boat.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Capacity:</div>
                    <div class="col-md-10">{{boat.maxNumberOfPeople}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Behavior rules:</div>
                    <div class="col-md-10">{{boat.behaviorRules}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Fishing equipment:</div>
                    <div class="col-md-10">{{boat.fishingEquipment}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Price per day:</div>
                    <div class="col-md-10">{{boat.pricePerDay}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Cancellation terms:</div>
                    <div class="col-md-10">{{boat.cancellationTerms}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Average grade:</div>
                    <div class="col-md-10">{{boat.averageGrade}}</div>
                </div>
                <div *ngIf="boat.additionalServices.length != 0" class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Additional service</td>
                                <td>Price per day</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let additionalService of boat.additionalServices">
                                <td>{{additionalService.name}}</td>
                                <td>{{additionalService.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a [routerLink]="['/actions', id]">View actions</a>
                </div>
            </div>
        </div>
    </div>
</div>