<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 style="text-align: center;">Register as owner</h1>
            <form (ngSubmit)="onClickSubmit()" #registerForm="ngForm">
                <div class="form-group mb-3">
                  <label for="email" class="form-label">Email address:</label>
                  <input type="email" class="form-control" id="email" required placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel" ngModel email>
                    <div [hidden]="email.valid || email.untouched"
                    class="alert alert-danger">
                    Incorrect format
                    </div>
                </div>
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" class="form-control" id="password" required placeholder="Password" [(ngModel)]="user.password" name="password" #password="ngModel">
                    <div [hidden]="password.valid || password.pristine"
                    class="alert alert-danger">
                    Password is required
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="rePassword" class="form-label">Re-enter password:</label>
                    <input [ngClass]="user.rePassword == user.password && user.rePassword != '' ? 'valid' : 'invalid'" type="password" class="form-control" id="rePassword" placeholder="Re-enter password" [(ngModel)]="user.rePassword" name="rePassword" #rePassword="ngModel">
                    <div [hidden]="user.rePassword == user.password || rePassword.untouched"
                        class="alert alert-danger">
                    Password doesn't match
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="appUserType">User type:</label>
                    <select class="form-select" required aria-label="Choose user type" id="appUserType" [(ngModel)]="user.appUserType" name="appUserType" #appUserType="ngModel">
                        <option value="COTTAGE_OWNER">Cottage owner</option>
                        <option value="BOAT_OWNER">Boat owner</option>
                        <option value="INSTRUCTOR">Instructor</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="user.name" name="name" #name="ngModel">
                </div>
                <div class="form-group mb-3">
                    <label for="surname" class="form-label">Surname:</label>
                    <input type="text" class="form-control" id="surname" placeholder="Surname" [(ngModel)]="user.surname" name="surname" #surname="ngModel">
                </div>
                <div class="form-group mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" [(ngModel)]="user.address" name="address" #address="ngModel">
                </div>
                <div class="form-group mb-3">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="user.city" name="city" #city="ngModel">
                </div>
                <div class="form-group mb-3">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" class="form-control" id="country" placeholder="Country" [(ngModel)]="user.country" name="country" #country="ngModel">
                </div>
                <div class="form-group mb-3">
                    <label for="telephone" class="form-label">Telephone:</label>
                    <input type="text" class="form-control" id="telephone" placeholder="Telephone" [(ngModel)]="user.telephone" name="telephone" #telephone="ngModel">
                </div>
                <div class="form-group mb-3">
                    <label for="explanation" class="form-label">Registration explanation:</label>
                    <textarea class="form-control" id="explanation" placeholder="Explanation" rows="3" [(ngModel)]="user.explanation" name="explanation" #explanation="ngModel"></textarea>
                </div>
                <div class="d-grid col-6 mx-auto">
                    <button class="btn btn-primary" type="submit" [disabled]="!registerForm.form.valid || user.password != user.rePassword">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>