<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ng-container [formGroup]="this.myFormGroup">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
                <div hidden>
                    <input type="text" id="latitudeInput">
                    <input type="text" id="longitudeInput">
                </div>
                <div class="mb-2">
                    <label for="cityInput" class="form-label"> City: </label>
                    <input id="cityInput" type="text" class="form-control" placeholder="City" formControlName="city" >
                </div>
                  <div class="mb-2">
                    <label for="streetInput" class="form-label"> Street </label>
                    <input id="streetInput" type="text" class="form-control" placeholder="Street" formControlName="street"  >
                  </div>
                  <div class="mb-2">
                    <label for="numberInput" class="form-label"> Number </label>
                    <input id="numberInput" type="text" class="form-control" placeholder="Number" formControlName="number" >
                  </div>
                  <div class="mb-2">
                    <label for="zipCodeInput" class="form-label"> Zip code </label>
                    <input id="zipCodeInput" type="text" class="form-control" placeholder="ZIP code" formControlName="zipCode" >
                  </div>
                  <div class="mb-2"> 
                    <div id="map" class="map" click="onMapClick()">
                    </div>
                  </div>
                <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" class="form-control" id="description" placeholder="Description" formControlName="description">
                </div>
                <div class="mb-3">
                        <label for="roomsTotalNumber" class="form-label">Number of rooms:</label>
                        <input type="text" class="form-control" id="roomsTotalNumber" placeholder="Number of rooms" formControlName="roomsTotalNumber">
                </div>
                <div class="mb-3">
                        <label for="behaviorRules" class="form-label">Behavior rules:</label>
                        <input type="text" class="form-control" id="behaviorRules" placeholder="Behavior rules" formControlName="behaviorRules">
                </div>
                <div class="d-grid col-6 mx-auto m-3">
                    <button class="btn btn-primary" (click)="onClickSubmit()">Update</button>
                </div>             
            </ng-container>
        </div>
    </div>
</div>
