<table matSort (matSortChange)="sortData($event)" class="table table-hover">
  <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="address">Address</th>
      <th mat-sort-header="capacity">Capacity</th>
      <th mat-sort-header="boatOwner">Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let boat of sortedData" [routerLink]="['/boat', boat.id]">
      <td>{{boat.name}}</td>
      <td>{{boat.address}}</td>
      <td>{{boat.maxNumberOfPeople}}</td>
      <td>{{boat.boatOwner.email}}</td>
    </tr>
  </tbody>
</table>