<div class="list-group">
    <a *ngFor = "let reservation of reservations" [routerLink]="" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{reservation.service.name}}</h5>
        <small class="text-muted">{{reservation.price}}$</small>
      </div>
      <p class="mb-1">{{reservation.reservationStartDateAndTime | date:'longDate'}}</p>
      <small class="text-muted">{{reservation.durationInDays}} days</small>
    </a>
  </div>