<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ng-container [formGroup]="this.myFormGroup">
                <div class="mb-3">
                    <label for="serviceType" class="form-label">Service type:</label>
                    <select formControlName="serviceType" class="form-select" aria-label="Choose service type" id="serviceType">
                        <option value="COTTAGE">Cottage</option>
                        <option value="BOAT">Boat</option>
                        <option value="ADVENTURE">Adventure</option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="startDate" class="form-label">Start time:</label>
                  <input type="datetime-local" class="form-control" id="startDate" placeholder="Start date" formControlName="startDate">
                </div>
                <div class="mb-3">
                    <label for="durationInDays" class="form-label">Number of days:</label>
                    <input type="number" class="form-control" id="durationInDays" placeholder="Number of days" formControlName="durationInDays">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
                </div>
                <div class="mb-3">
                    <label for="numberOfPeople" class="form-label">Number of people:</label>
                    <input type="number" class="form-control" id="numberOfPeople" placeholder="Number of people" formControlName="numberOfPeople">
                </div>
                <div class="d-grid col-6 mx-auto">
                    <button class="btn btn-primary" (click)="onClickSubmit()">Search</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<table *ngIf = "services.length > 0" matSort (matSortChange)="sortData($event)" class="table">
    <thead>
      <tr>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="address">Address</th>
        <th mat-sort-header="pricePerDay">Price per day</th>
        <th mat-sort-header="maxNumberOfPeople">Max people</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of sortedData" [routerLink]="">
        <td>{{service.name}}</td>
        <td>{{service.address}}</td>
        <td>{{service.pricePerDay}}</td>
        <td>{{service.maxNumberOfPeople}}</td>
        <td><button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openReservationModal(service)">Make reservation</button></td>
      </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reservation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class = "col-md-6">Service:</div>
                            <div class = "col-md-6">{{reservation.service.name}}</div>
                        </div>
                        <div class="row">
                            <div class = "col-md-6">Start time:</div>
                            <div class = "col-md-6">{{reservation.reservationStartDateAndTime | date:'short'}}</div>
                        </div>
                        <div class="row">
                            <div class = "col-md-6">Number of days:</div>
                            <div class = "col-md-6">{{reservation.durationInDays}}</div>
                        </div>
                        <div class="row">
                            <div class = "col-md-6">Number of people:</div>
                            <div class = "col-md-6">{{reservation.numberOfPeople}}</div>
                        </div>
                        <div class="row">
                            <div class = "col-md-6">Price per day:</div>
                            <div class = "col-md-6">{{reservation.service.pricePerDay}}</div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Additional service</td>
                                        <td>Price per day</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let additionalService of viewedService.additionalServices">
                                        <td>{{additionalService.name}}</td>
                                        <td>{{additionalService.price}}</td>
                                        <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="fieldsChange($event, additionalService)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class = "col-md-6">Total price:</div>
                            <div class = "col-md-6">{{reservation.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="makeReservation()">OK</button>
        </div>
      </div>
    </div>
  </div>
