<div class='card'>
    <div class='card-header d-flex justify-content-between'>
      <h3 style=" margin-left: 50px;">{{adventure.name}}</h3>
      <button *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT' && !isSubscribed()" class="btn btn-primary" (click)="subscribe()">Subscribe</button>
      <button *ngIf="loginService.isLoggedIn && loginService.userType == 'CLIENT' && isSubscribed()" class="btn btn-secondary" (click)="unsubscribe()">Unsubscribe</button>
    </div>
    <div class="card-body" style=" margin-left: 50px;">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Address:</div>
                    <div class="col-md-10">{{adventure.city}}, {{adventure.street}} {{adventure.number}}</div>
                </div>
                <div class="row"> 
                    <div class="col-md-6">
                        <div id="map" class="map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Description:</div>
                    <div class="col-md-10">{{adventure.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Instructor biography:</div>
                    <div class="col-md-10">{{adventure.instructorBiography}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Max people:</div>
                    <div class="col-md-10">{{adventure.maxNumberOfPeople}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Behavior rules:</div>
                    <div class="col-md-10">{{adventure.behaviorRules}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Fishing gear:</div>
                    <div class="col-md-10">{{adventure.fishingGear}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Price per day:</div>
                    <div class="col-md-10">{{adventure.pricePerDay}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 20px ;">Average grade:</div>
                    <div class="col-md-10">{{adventure.averageGrade}}</div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <app-image-slideshow [images]="images" [serviceId]="id"></app-image-slideshow>                              
                    </div>
                </div>

                <div *ngIf="adventure.additionalServices.length != 0" class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Additional service</td>
                                <td>Price per day</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let additionalService of adventure.additionalServices">
                                <td>{{additionalService.name}}</td>
                                <td>{{additionalService.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a [routerLink]="['/actions', id]">View actions</a>
                </div>
            </div>
        </div>
    </div>
</div>